<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wang.findview.main">

    <application>
        <activity android:name=".DemoActivity"></activity>
        <activity android:name=".DemoMainActivity" />
    </application>

</manifest>